/*
	@@ Variables globales
*/

:root {
	--gris-05: #030712;
	--gris-10: #111827;
	--gris-15: #18212f;
	--gris-20: #1f2937;
	--gris-25: #1b3544;
	--gris-30: #374151;
	--gris-35: #414b5a;
	--gris-40: #4b5563;
	--gris-45: #5b6472;
	--gris-50: #6b7280;
	--gris-55: #848b98;
	--gris-60: #9ca3af;
	--gris-65: #b7bcc5;
	--gris-70: #d1d5db;
	--gris-75: #dbdee3;
	--gris-80: #e2e8f0;
	--gris-85: #eceef1;
	--gris-90: #f3f4f6;
	--gris-95: #f9fafb;
	
	--color-rojo: #f05050;
	--color-azul: #5080f0;
	--color-verd: #50d070;
	--color-nrnj: #f07050;
	--color-amrl: #f0c050;
	--color-mora: #7050d0;
	--color-azvd: #50d0f0;
	--color-rojo-d: #b10f0f;
	--color-azul-d: #0f40b1;
	--color-verd-d: #227f39;
	--color-nrnj-d: #b12f0f;
	--color-amrl-d: #b1810f;
	--color-mora-d: #301d6b;
	--color-azvd-d: #0f91b1;

	--herotextsize: 3em;
	--bodytextsize: 1em;
	--header2size: 2.5em;
	--header3size: 1.25em;

	--logo-const: 2em;
	--gap: 2rem;
	--pixelgap: 32px;
	--horizontal: var(--pixelgap);
	--vertical: var(--gap);
	--iconsize: 20px;
	--easing: cubic-bezier(.7,0,.3,1);
	--animtime: .5s
}

@media (prefers-color-scheme: dark)
{
	:root {
		--gris-05: #f9fafb;
		--gris-10: #f3f4f6;
		--gris-15: #eceef1;
		--gris-20: #e2e8f0;
		--gris-25: #dbdee3;
		--gris-30: #d1d5db;
		--gris-35: #b7bcc5;
		--gris-40: #9ca3af;
		--gris-45: #848b98;
		--gris-50: #6b7280;
		--gris-55: #5b6472;
		--gris-60: #4b5563;
		--gris-65: #414b5a;
		--gris-70: #374151;
		--gris-75: #2b3544;
		--gris-80: #1f2937;
		--gris-85: #18212f;
		--gris-90: #111827;
		--gris-95: #030712;
	}
}

@media screen and (min-width: 30rem) {
	:root { --bodytextsize: 1.125em }
}

@media screen and (min-width: 40rem) {
	:root {
		--horizontal: calc(2 * var(--gap));
		--herotextsize: 3em;
	}
}

@media screen and (min-width: 80rem) {
	:root {
		--horizontal: auto;
		--vertical: calc(2 * var(--gap));
		--header2size: 3em;
	}
}

/*
	@@ Estilos generales
*/

* { box-sizing: border-box }
html {
	scroll-padding-top: calc(2 * var(--gap));
	scroll-behavior: smooth;
}

body {
	margin: 0;
	padding: 0;
	background: var(--gris-95);
	background-attachment: fixed;
	line-height: 2;
	font-family: 'BricolageGrotesque', sans-serif;
	color: var(--gris-30);
}

p, ul:not(#gallery_items), ol, dl, figure {
	margin-top: 0;
	margin-bottom: 1em;
	padding-top: 0;
	padding-bottom: 0;
	font-weight: 300;
}

h1, h2, h3 {
	margin-top: 0;
	margin-bottom: .5em;
}

ul,
ol,
dd { padding-left: 0 }

dt { font-weight: 600 }
dd { margin-left: 0 }

figure {
	margin-left: 0;
	margin-right: 0;
	text-align: center;
}  

figure > img,
figure > picture {
	margin-bottom: 0;
}

a {
	text-decoration-style: dashed;
	text-decoration-thickness: 1px;
	text-decoration-skip: ink;
}

a:hover {
	text-decoration-style: solid;
	cursor: pointer;
}

.all a { text-decoration-color: var(--color-rojo) }
.web a { text-decoration-color: var(--color-azul) }
.fto a { text-decoration-color: var(--color-verd) }
.ils a { text-decoration-color: var(--color-nrnj) }
.edt a { text-decoration-color: var(--color-amrl) }
.otr a { text-decoration-color: var(--color-mora) }
.about a { text-decoration-color: var(--color-azvd) }

[hidden] {
	display: none;
	visibility: hidden;
}

/*
	@@ Cortinilla
*/

#transition {
	position: fixed;
	margin: auto;
	width: 100%;
	height: 100%;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	pointer-events: none;
	z-index: 3;
}

#transition::before,
#transition::after {
	display: block;
	margin: auto;
	width: 100%;
	height: 50%;
	left: 0;
	right: 0;
	content: '';
	pointer-events: none;
	background: var(--gris-10);
	animation-duration: var(--animtime);
	animation-timing-function: var(--easing);
	animation-fill-mode: forwards;
}

#transition::before {
	top: 0;
	-webkit-mask: url('iconos.svg#logo-view') no-repeat 50% calc(100% + var(--logo-const)), linear-gradient(var(--gris-75) 0 0);
	mask: url('iconos.svg#logo-view') no-repeat 50% calc(100% + var(--logo-const)), linear-gradient(var(--gris-75) 0 0);
	-webkit-mask-size: calc(var(--logo-const) * 1.21885 * 3) calc(2 * var(--logo-const));
	mask-size: calc(var(--logo-const) * 1.21885 * 3) calc(2 * var(--logo-const));
	-webkit-mask-composite: destination-out;
	mask-composite: exclude;
}

#transition::after {
	bottom: 0;
	-webkit-mask: url('iconos.svg#logo-view') no-repeat 50% calc(0px - var(--logo-const)), linear-gradient(var(--gris-75) 0 0);
	mask: url('iconos.svg#logo-view') no-repeat 50% calc(0px - var(--logo-const)), linear-gradient(var(--gris-75) 0 0);
	-webkit-mask-size: calc(var(--logo-const) * 1.21885 * 3) calc(2 * var(--logo-const));
	mask-size: calc(var(--logo-const) * 1.21885 * 3) calc(2 * var(--logo-const));
	-webkit-mask-composite: destination-out;
	mask-composite: exclude;
}

[data-status="loaded"] #transition::before { animation-name: abrir_transition_t }
[data-status="loaded"] #transition::after { animation-name: abrir_transition_b }
[data-status="leaving"] #transition::before { animation-name: cerrar_transition_t }
[data-status="leaving"] #transition::after { animation-name: cerrar_transition_b }

#loader {
	display: block;
	position: absolute;
	margin: auto;
	width: 100px;
	height: 4px;
	top: calc(4 * var(--logo-const));
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1;
	opacity: 0;
	pointer-events: none;
	transform: opacity var(--animtime) var(--easing);
}

#loaderBg { fill: var(--gris-25) }

#loaderValue {
	stroke: var(--gris-65);
	stroke-width: 4px;
	stroke-dasharray: 100 60;
	animation: loadingAnim calc(2 * var(--animtime)) var(--easing) 0s infinite;
}

[data-status="loading"] #loader { opacity: 1 }

@media (prefers-color-scheme:dark)
{
	#transition::before,
	#transition::after { background: var(--gris-85) }
	#loaderBg { fill: var(--gris-95) }
	#loaderValue { stroke: var(--gris-50) }
}

/*
	@@ Íconos
*/

#header_logo svg {
	width: calc(var(--logo-const) * 1.21885);
	max-height: var(--logo-const);
	fill: var(--gris-20);
	transition: fill var(--animtime) var(--easing);
}

#header_logo svg:hover { fill: var(--color-rojo) }

/*
	@@ Bloques de contenido principales
*/

main {
	opacity: 0;
	transition: opacity calc(2 * var(--animtime)) var(--easing) var(--animtime);
}

[data-status="loaded"] main { opacity: 1 }

main.project #hero,
main.project #gallery,
main.about #hero,
main.about #gallery { display: none }

@media screen and (min-width: 80rem) {
	header, footer { max-width: 75rem }
}

/*
	@@ Header
*/

header {
	display: flex;
	flex-flow: row nowrap;
	align-content: space-between;
	margin: var(--vertical) var(--horizontal) calc(4 * var(--vertical));
	justify-content: space-between;
}

@media screen and (min-width: 40rem) {
	header { margin: calc(2 * var(--vertical)) var(--horizontal) calc(4 * var(--vertical)) }
}

@media screen and (min-width: 80rem) {
	header { margin: var(--vertical) var(--horizontal) calc(2 * var(--vertical)) }
}

#header_logo {
	display: block;
	line-height: 0;
	color: var(--gris-30);
}

header a { color: var(--gris-30) }
header a:hover { text-decoration-color: var(--color-rojo) }

/*
	@@ Footer
*/

footer {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	margin: var(--vertical) var(--horizontal);
	padding-top: var(--vertical);
	border-top: 1px dotted var(--gris-75);
}

@media screen and (min-width: 30rem)
{
	footer {
		flex-flow: row nowrap;
		gap: var(--gap);
		margin: calc(var(--vertical) / 2) var(--horizontal);
		padding-top: calc(var(--vertical) / 2);
	}
}

@media screen and (min-width: 40rem)
{
	footer { justify-content: flex-end }
}

footer a {
	font-weight: 200;
	font-stretch: 95%;
	color: var(--gris-35);
}

/*
	@@ Hero
*/

#hero { margin: calc(4 * var(--vertical)) var(--horizontal) }

@media screen and (min-width: 60rem) {
	#hero {
		margin-left: auto;
		margin-right: auto;
	    max-width: 40rem;
	}
}

@media screen and (min-width: 80rem) {
	#hero { max-width: 40rem }
}

#hero h2 {
	text-align: center;
	line-height: 1.25;
	font-size: var(--herotextsize);
	font-weight: 200;
	font-variation-settings: 'opsz' 80;
	letter-spacing: -.0125em;
	color: var(--gris-15);
}

#hero strong { font-weight: 800 }

#hero a {
	display: block;
	text-align: center;
	font-size: var(--header3size);
	font-weight: 200;
	font-variation-settings: 'opsz' 50;
	color: var(--gris-30);
	text-decoration-color: var(--gris-50);
	transition: color var(--animtime), text-decoration-color var(--animtime);
}

#hero a:hover {
	color: var(--gris-30);
	text-decoration-color: var(--color-rojo);
}

@media screen and (min-width: 30rem) {
	#hero h2 { text-align: left }

	#hero a {
		display: inline;
		text-align: left;
	}

	#hero a+a { margin-left: 2em }
}

/*
	@@ Portafolio
*/

#gallery {
	margin: 0 var(--horizontal) var(--gap);
	border-top: 1px dotted var(--gris-75);
	text-align: center;
}

@media screen and (min-width: 45rem)
{
	#gallery_items {
		column-count: 2;
		column-gap: var(--gap);
	}
}

@media screen and (min-width: 30rem) {
	#gallery { text-align: right }
}

@media screen and (min-width: 80rem)
{
	#gallery { max-width: 75rem }
}

@media screen and (min-width: 100rem)
{
	#gallery_items { column-count: 3 }
}

#gallery_items li {
	margin: 0;
	text-align: center;
	line-height: 0;
	list-style: none;
}

#gallery_items a {
	margin: 0 0 calc(1.5 * var(--gap));
	display: none;
	line-height: 0;
	text-decoration: none;
	overflow: hidden;
	background-color: var(--gris-95);
}

#gallery_items picture {
	position: relative;
	display: block;
	overflow: hidden;
}

@supports (grid-template-rows: masonry)
{
	#gallery_items {
		display: grid;
		grid-template-rows: masonry;
		grid-template-columns: repeat(2, 1fr);
		align-tracks: start;
		gap: var(--gap);
		column-count: 1;
	}

	#gallery_items a { margin: 0 }

	@media screen and (min-width: 60rem)
	{
		#gallery_items {
			grid-template-columns: repeat(3, 1fr);
			column-count: 1;
		}
	}

	@media screen and (min-width: 100rem)
	{
		#gallery_items {
			grid-template-columns: repeat(4, 1fr);
			column-count: 1;
		}
	}
}

#gallery_items picture::before, #gallery_items picture::after {
	position: absolute;
	display: block;
	margin: auto;
	inset: 0;
	transform-origin: bottom;
}

#gallery_items picture::before {
	width: var(--iconsize);
	height: var(--iconsize);
	content: '';
	opacity: 0;
	z-index: 10;
	background-color: var(--gris-15);
	transition: opacity var(--animtime) var(--easing);
	-webkit-mask: url('iconos.svg#icon-amp-view') no-repeat 50% 50%;
	mask: url('iconos.svg#icon-amp-view') no-repeat 50% 50%;
	-webkit-mask-size: cover;
	mask-size: cover;
}

#gallery_items a:hover picture::before { opacity: 1 }

#gallery_items img {
	filter:blur(0);
	transition: filter var(--animtime) var(--easing);
}

#gallery_items a:hover img { filter:blur(calc(var(--gap) / 4)) grayscale(1) }

#gallery_items picture::after {
	width: 100%;
	height: 100%;
	content: '';
	opacity: .5;
	transform: scaleY(0);
	transition: transform var(--animtime) var(--easing);
}

#gallery_items .web picture::after { background-color: var(--color-azul) }
#gallery_items .fto picture::after { background-color: var(--color-verd) }
#gallery_items .ils picture::after { background-color: var(--color-nrnj) }
#gallery_items .edt picture::after { background-color: var(--color-amrl) }
#gallery_items .otr picture::after { background-color: var(--color-mora) }

#gallery_items a:hover picture::after {
	transform: scaleY(1);
	transform-origin: top;
}

#gallery_items img {
	width: 100%;
	height: auto;
}

#gallery_items h4 {
	margin-bottom: .5rem;
	line-height: 1.25;
	text-align: left;
	font-weight: 500;
	color: var(--gris-40);
	transition: color var(--animtime) var(--easing);
}

#gallery_items h4::before {
	display: inline-block;
	margin-right: 1em;
	width: var(--iconsize);
	height: var(--iconsize);
	float: left;
	content: '';
	background-color: var(--gris-65);
	-webkit-mask-size: cover;
	mask-size: cover;
	transition: background-color var(--animtime) var(--easing);
}

#gallery_items .web h4::before {
	-webkit-mask: url('iconos.svg#icon-web-view') no-repeat 50% 50%;
	mask: url('iconos.svg#icon-web-view') no-repeat 50% 50%;
}

#gallery_items .fto h4::before {
	-webkit-mask: url('iconos.svg#icon-fto-view') no-repeat 50% 50%;
	mask: url('iconos.svg#icon-fto-view') no-repeat 50% 50%;
}

#gallery_items .ils h4::before {
	-webkit-mask: url('iconos.svg#icon-ils-view') no-repeat 50% 50%;
	mask: url('iconos.svg#icon-ils-view') no-repeat 50% 50%;
}

#gallery_items .edt h4::before {
	-webkit-mask: url('iconos.svg#icon-edt-view') no-repeat 50% 50%;
	mask: url('iconos.svg#icon-edt-view') no-repeat 50% 50%;
}

#gallery_items .otr h4::before {
	-webkit-mask: url('iconos.svg#icon-otr-view') no-repeat 50% 50%;
	mask: url('iconos.svg#icon-otr-view') no-repeat 50% 50%;
}

#gallery_items span {
	display: block;
	margin-left: calc(var(--iconsize) + 1em + 2px);
	line-height: 1.5;
	text-align: left;
	font-size: .875em;
	font-weight: 200;
	font-stretch: 90%;
	color: var(--gris-50);
}

#gallery_items .web:hover h4 { text-decoration-color: var(--color-azul) }
#gallery_items .fto:hover h4 { text-decoration-color: var(--color-verd) }
#gallery_items .ils:hover h4 { text-decoration-color: var(--color-nrnj) }
#gallery_items .edt:hover h4 { text-decoration-color: var(--color-amrl) }
#gallery_items .otr:hover h4 { text-decoration-color: var(--color-mora) }

#gallery_items a:hover h4 {
	color: var(--gris-20);
	text-decoration: underline;
	text-decoration-style: dashed;
	text-decoration-thickness: 1px;
}

#gallery_items .web:hover h4::before { background-color: var(--color-azul) }
#gallery_items .fto:hover h4::before { background-color: var(--color-verd) }
#gallery_items .ils:hover h4::before { background-color: var(--color-nrnj) }
#gallery_items .edt:hover h4::before { background-color: var(--color-amrl) }
#gallery_items .otr:hover h4::before { background-color: var(--color-mora) }

#gallery input,
#gallery label {
	margin-top: var(--gap);
	margin-bottom: var(--gap);
	vertical-align: middle;
}

#gallery input {
	margin-left: calc(var(--gap) / 4);
	margin-right: calc(var(--gap) / 4);
	padding: 0;
	width: var(--iconsize);
	height: var(--iconsize);
	appearance: none;
	background-color: var(--gris-65);
	-webkit-mask-size: cover;
	mask-size: cover;
	transition: background-color var(--animtime) var(--easing);
}

#gallery label {
	display: none;
	font-weight: 200;
	font-stretch: 95%;
}

#gallery input:checked,
#gallery input:hover { background-color: var(--gris-35) }

@media screen and (min-width: 30rem) {
	#gallery input {
		margin-left: var(--gap);
		margin-right: 0;
	}
}

@media screen and (min-width: 50rem) {
	#gallery label {
		display: inline;
		padding: 0 0 0 .5em;
	}
}

#gallery label:last-of-type::after { display: none }

@media screen and (min-width: 50rem) {
	#gallery label::after { display: none }
}

#gallery input:checked+label {
	font-weight: 600;
	color: var(--gris-15);
}

#gallery_filter_web {
	-webkit-mask: url('iconos.svg#icon-web-view') no-repeat 50% 50%;
	mask: url('iconos.svg#icon-web-view') no-repeat 50% 50%;
}

#gallery_filter_fto {
	-webkit-mask: url('iconos.svg#icon-fto-view') no-repeat 50% 50%;
	mask: url('iconos.svg#icon-fto-view') no-repeat 50% 50%;
}

#gallery_filter_ils {
	-webkit-mask: url('iconos.svg#icon-ils-view') no-repeat 50% 50%;
	mask: url('iconos.svg#icon-ils-view') no-repeat 50% 50%;
}

#gallery_filter_edt {
	-webkit-mask: url('iconos.svg#icon-edt-view') no-repeat 50% 50%;
	mask: url('iconos.svg#icon-edt-view') no-repeat 50% 50%;
}

#gallery_filter_otr {
	-webkit-mask: url('iconos.svg#icon-otr-view') no-repeat 50% 50%;
	mask: url('iconos.svg#icon-otr-view') no-repeat 50% 50%;
}

#gallery_filter_all:checked ~ #gallery_items a,
#gallery_filter_web:checked ~ #gallery_items .web,
#gallery_filter_fto:checked ~ #gallery_items .fto,
#gallery_filter_ils:checked ~ #gallery_items .ils,
#gallery_filter_edt:checked ~ #gallery_items .edt,
#gallery_filter_otr:checked ~ #gallery_items .otr { display: inline-block }

/*
	@@ Detalle
*/

article {
	display: grid;
	grid-row-gap: calc(2 * var(--gap));
	margin: calc(2 * var(--vertical)) 0;
}

@media screen and (min-width: 40rem) {
	article section { margin: 0 var(--horizontal) }
}

#project_title {
	margin: 0 var(--horizontal);
	line-height: 1.25;
	font-size: var(--header2size);
	font-weight: 700;
	font-stretch: 85%;
	text-indent: -0.05em;
	color: var(--gris-15);
}

#project_title::after { content: '\002e' }

article h3 {
	margin-bottom: 1em;
	font-size: var(--header3size);
	font-weight: 500;
	line-height: 1.5;
	font-stretch: 90%;
	color: var(--gris-10);
}

#project_leading {
	margin: 0 var(--horizontal);
	line-height: 1.625;
	font-size: var(--header3size);
	font-weight: 375;
	font-variation-settings: 'opsz' 50;
	color: var(--gris-20);
}

#project_notes li,
#project_refs li,
#project_related li { list-style-position: inside }

#project_notes li,
#project_refs li,
#project_related li,
#project_process p,
#project_outcome p {
	margin: 0;
	line-height: 1.8;
	font-size: var(--bodytextsize);
	font-weight: 200;
	font-stretch: 97.5%;
	font-variation-settings: 'opsz' 25;
	color: var(--gris-15);
}

#project_notes li+li,
#project_refs li+li,
#project_related li+li {
	padding: .5em 0;
	border-top: 1px dotted var(--gris-75);
}

#project_notes li:first-of-type,
#project_refs li:first-of-type,
#project_related li:first-of-type { padding-bottom: .5em }

#project_notes li::marker,
#project_refs li::marker,
#project_related li::marker {
	content: '[' counter(list-item) '] ';
	font-weight: 200;
	color: var(--gris-60);
}

@media (prefers-color-scheme:dark)
{
	#project_notes li::marker,
	#project_refs li::marker,
	#project_related li::marker {
		color: var(--gris-50);
	}
}

#project_process p+p,
#project_outcome p+p { margin-top: 1em }

#project_pics {
	margin: 3em 0;
	list-style:none;
}

#project_pics figure {
	margin-bottom: calc(2 * var(--gap));
	line-height: 0;
}

#project_pics figcaption {
	margin-top: calc(var(--gap) / 2);
	font-size: .85em;
	line-height: 1.25;
	text-align: center;
	color: var(--gris-40);
}

#project_pics img { max-width: 100% }

#project_process,
#project_outcome,
#project_refs,
#project_notes,
#project_related { margin: 0 var(--horizontal) }

.web article a { text-decoration-color: var(--color-azul-d) }
.fto article a { text-decoration-color: var(--color-verd-d) }
.ils article a { text-decoration-color: var(--color-nrnj-d) }
.edt article a { text-decoration-color: var(--color-amrl-d) }
.otr article a { text-decoration-color: var(--color-mora-d) }

#project_cntx { margin: 0 var(--horizontal) var(--vertical) }
#project_cntx dl { overflow-x: hidden }

#project_meta dt,
#project_meta dd {
	display: inline-block;
	float: left;
	width: 50%;
}

#project_meta dt {
	position: relative;
	font-weight: 300;
	font-stretch: 100%;
	color: var(--gris-30);
}

#project_meta dd {
	text-align: right;
	font-weight: 500;
	color: var(--gris-20);
}

#project_meta dd:empty::before {
	display: block;
	height: 2em;
	content: '';
}

#project_meta dd::after {
	display: table;
	width: 200%;
	height: 0;
	clear: both;
	margin-top: 1em;
	margin-left: -100%;
	padding-top: 1em;
	border-top: 1px dotted var(--gris-75);
	content: '';
}

#project_meta dd:last-of-type::after { display: none }

#project_meta dt::before {
	display: inline-block;
	margin-top: .25em;
	margin-right: 1em;
	width: var(--iconsize);
	height: var(--iconsize);
	float: left;
	content: '';
	background-color: var(--gris-65);
	-webkit-mask-size: cover;
	mask-size: cover;
	transition: background-color var(--animtime) var(--easing);
}

.web #project_cat_title::before {
	-webkit-mask: url('iconos.svg#icon-web-view') no-repeat 50% 50%;
	mask: url('iconos.svg#icon-web-view') no-repeat 50% 50%;
}

.fto #project_cat_title::before {
	-webkit-mask: url('iconos.svg#icon-fto-view') no-repeat 50% 50%;
	mask: url('iconos.svg#icon-fto-view') no-repeat 50% 50%;
}

.ils #project_cat_title::before {
	-webkit-mask: url('iconos.svg#icon-ils-view') no-repeat 50% 50%;
	mask: url('iconos.svg#icon-ils-view') no-repeat 50% 50%;
}

.edt #project_cat_title::before {
	-webkit-mask: url('iconos.svg#icon-edt-view') no-repeat 50% 50%;
	mask: url('iconos.svg#icon-edt-view') no-repeat 50% 50%;
}

.otr #project_cat_title::before {
	-webkit-mask: url('iconos.svg#icon-otr-view') no-repeat 50% 50%;
	mask: url('iconos.svg#icon-otr-view') no-repeat 50% 50%;
}

#project_date_title::before {
	-webkit-mask: url('iconos.svg#icon-fch-view') no-repeat 50% 50%;
	mask: url('iconos.svg#icon-fch-view') no-repeat 50% 50%;
}

#project_prc_title::before {
	-webkit-mask: url('iconos.svg#icon-prc-view') no-repeat 50% 50%;
	mask: url('iconos.svg#icon-prc-view') no-repeat 50% 50%;
}

#project_out_title::before {
	-webkit-mask: url('iconos.svg#icon-res-view') no-repeat 50% 50%;
	mask: url('iconos.svg#icon-res-view') no-repeat 50% 50%;
}

#project_ref_title::before {
	-webkit-mask: url('iconos.svg#icon-ref-view') no-repeat 50% 50%;
	mask: url('iconos.svg#icon-ref-view') no-repeat 50% 50%;
}

#project_rel_title::before {
	-webkit-mask: url('iconos.svg#icon-rel-view') no-repeat 50% 50%;
	mask: url('iconos.svg#icon-rel-view') no-repeat 50% 50%;
}

#project_not_title::before {
	-webkit-mask: url('iconos.svg#icon-not-view') no-repeat 50% 50%;
	mask: url('iconos.svg#icon-not-view') no-repeat 50% 50%;
}

#project_meta dt:hover::before { background-color: var(--gris-35) }

#project_meta a {
	display: block;
	with: 100%;
	color: var(--gris-30);
}

#project_meta a:hover { color: var(--gris-15) }

#project_prc_title a,
#project_out_title a,
#project_ref_title a,
#project_not_title a { width: calc(200% + var(--iconsize) + var(--pixelgap) / 2) }

#project_process a,
#project_outcome a,
#project_refs a,
#project_notes a { color: var(--gris-05) }

@media screen and (min-width: 60rem) {
	article { grid-template-columns: 50% 50% }
	#project_title { margin-right: 0 }
	#project_cntx { margin-bottom: 0 }

	#project_leading,
	#project_cntx {
		margin-top: .5em;
		margin-left: 0;
	}

	#project_leading {
		grid-column: 2/3;
		grid-row: 1/2;
	}

	#project_cntx {
		grid-column: 2/3;
		grid-row: 2/3;
	}

	#project_pics { grid-column: 1/span 2 }
	
	article section {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-column: 1/span 2;
	}

	article section h3 {
		margin-bottom: 0;
		margin-right: var(--gap);
		grid-column: 1/2;
		text-align: right;
	}
	
	article section p:not(#project_leading),
	article section ul { grid-column: 2/3 }
	

	@supports( grid-template-column: subgrid )
	{
		article section { grid-template-columns: subgrid }
	}
}

@media screen and (min-width: 80rem)
{
	article {
		grid-template-columns: repeat(3, 2fr);
		grid-gap: 0 calc(2 * var(--gap));
		max-width: 75rem;
		margin: 0 var(--horizontal) var(--vertical);
	}
	
	article section { grid-template-columns: 1fr 2fr }

	#project_title {
		grid-column: 2/span 2;
		grid-row: 1/2;
		margin: 0 0 var(--vertical);
	}

	#project_leading {
		grid-column: 2/span 2;
		grid-row: 2/3;
		margin-bottom: var(--vertical);
	}

	#project_cntx {
		grid-column: 1/2;
		grid-row: 2/span 3;
		margin: .75em 0 0;
		height: 100%;
	}

	#project_cntx dl {
		position: sticky;
		margin: 0;
		top: calc(2 * var(--pixelgap));
	}
	
	#project_cntx dl+dl { margin-top: 2em }
	
	#project_pics {
		grid-column: 2/span 2;
		grid-row: 3/4;
	}

	#project_process,
	#project_outcome,
	#project_refs,
	#project_notes {
		grid-column: 2/span 2;
		margin: var(--vertical) 0 0;
	}
	
	#project_process { grid-row: 4/5 }
	#project_outcome { grid-row: 5/6 }
	#project_refs { grid-row: 6/7 }
	#project_notes { grid-row: 7/8 }
}

/*
	@@ Acerca de
*/

#about {
	display: none;
	grid-auto-rows: minmax(min-content, max-content);
	grid-row-gap: calc(3 * var(--vertical));
	margin: 0;
}

main.about #about { 
	display: grid;
}

#about section a {
	color: var(--gris-30);
	text-decoration-color: var(--color-azvd);
}

#abm_avatar {
	justify-self: center;
	width: calc(6 * var(--pixelgap));
	height: calc(6 * var(--pixelgap));
}

#abm_greeting,
#abm_avatar,
#abm_copy,
#abm_meta,
#about section { margin: 0 var(--horizontal) }

#abm_meta dt,
#abm_meta dd {
	display: inline-block;
	float: left;
	width: 50%;
}

#abm_meta dt {
	position: relative;
	padding-left: calc(var(--iconsize) + var(--pixelgap) / 2);
	text-align: left;
	white-space: nowrap;
}

#abm_meta dd {
	text-align: right;
	font-weight: 500;
}

#abm_meta dt a {
	display: block;
	width: calc(200% + var(--iconsize) + var(--pixelgap) / 2);
}

#abm_meta dt:not(#abm_meta_contact) a {
	font-weight: 400;
	color: var(--gris-40)
}

#abm_meta_contact a {
	font-weight: 700;
	color: var(--gris-15);
}

#abm_meta dd,
#abm_meta dd a { color: var(--gris-20) }

#abm_meta dt::before {
	position: absolute;
	display: block;
	width: var(--iconsize);
	height: var(--iconsize);
	top: .25em;
	left: 0;
	content: '';
	-webkit-mask-size: cover;
	mask-size: cover;
	transition: background-color var(--animtime) var(--easing);
}

#abm_meta dt:not(#abm_meta_contact)::before { background-color: var(--gris-60) }
#abm_meta_contact::before { background-color: var(--color-azvd) }
#abm_meta dt:not(#abm_meta_contact):hover::before { background-color: var(--color-azvd) }
#abm_meta_contact:hover::before { background-color: var(--gris-15) }

#abm_meta dd:empty::before {
	display: block;
	height: 2em;
	content: '';
}

#abm_meta dd::after {
	display: table;
	width: 200%;
	height: 0;
	clear: both;
	margin-top: 1em;
	margin-left: -100%;
	padding-top: 1em;
	border-top: 1px dotted var(--gris-75);
	content: '';
}

#abm_meta dd:last-of-type::after { display: none }

#abm_meta_contact::before {
	-webkit-mask: url('iconos.svg#icon-cor-view') no-repeat 50% 50%;
	mask: url('iconos.svg#icon-cor-view') no-repeat 50% 50%;
}

#abm_meta_cv::before {
	-webkit-mask: url('iconos.svg#icon-hdv-view') no-repeat 50% 50%;
	mask: url('iconos.svg#icon-hdv-view') no-repeat 50% 50%;
}

#abm_meta_git::before {
	-webkit-mask: url('iconos.svg#icon-git-view') no-repeat 50% 50%;
	mask: url('iconos.svg#icon-git-view') no-repeat 50% 50%;
}

#abm_meta_works::before {
	-webkit-mask: url('iconos.svg#icon-trb-view') no-repeat 50% 50%;
	mask: url('iconos.svg#icon-trb-view') no-repeat 50% 50%;
}

#abm_meta_formation::before {
	-webkit-mask: url('iconos.svg#icon-frm-view') no-repeat 50% 50%;
	mask: url('iconos.svg#icon-frm-view') no-repeat 50% 50%;
}

#abm_meta_skills::before {
	-webkit-mask: url('iconos.svg#icon-cmp-view') no-repeat 50% 50%;
	mask: url('iconos.svg#icon-cmp-view') no-repeat 50% 50%;
}

#abm_meta_languages::before {
	-webkit-mask: url('iconos.svg#icon-lng-view') no-repeat 50% 50%;
	mask: url('iconos.svg#icon-lng-view') no-repeat 50% 50%;
}

#abm_meta_interests::before {
	-webkit-mask: url('iconos.svg#icon-int-view') no-repeat 50% 50%;
	mask: url('iconos.svg#icon-int-view') no-repeat 50% 50%;
}

#abm_greeting,
#abm_copy {
	margin-top: .125em;
	text-align: center;
}

#abm_greeting {
	grid-row: 1/2;
	line-height: 1;
	font-size: var(--herotextsize);
	font-weight: 200;
	font-variation-settings: "opsz" 96;
	color: var(--gris-20);
}

#abm_greeting strong { font-weight: 700 }

#abm_copy {
	grid-row: 3/4;
	line-height: 1.25;
	font-size: calc(.5 * var(--header2size));
	font-weight: 200;
	font-stretch: 90%;
	font-variation-settings: 'opsz' 60;
	color: var(--gris-50);
}

#about h3 {
	margin: 0 0 2em;
	line-height: 1;
	font-size: calc(.5 * var(--header2size));
	font-weight: 200;
	font-stretch: 85%;
	text-transform: uppercase;
	letter-spacing: .2em;
	color: var(--gris-40);
}

#about dt {
	color: var(--gris-15)
}

#about_metalist {
	position: relative;
	margin-top: 1em
}

#abm_works dl,
#abm_formation dl {
	position: relative;
	margin-left: var(--pixelgap);
}

#abm_works dl::before,
#abm_formation dl::before {
	position: absolute;
	display: block;
	margin: auto;
	width: 1px;
	height: 100%;
	top: 0;
	bottom: 0;
	left: -24px;
	content: '';
	background-color: var(--gris-75);
}

#abm_works dt,
#abm_formation dt { position: relative }

#abm_works dt+dd,
#abm_formation dt+dd,
#abm_interests dt+dd { margin-bottom: var(--vertical) }

#abm_works dt::before,
#abm_formation dt::before {
	position: absolute;
	display: block;
	margin: auto;
	width: 8px;
	height: 8px;
	top: calc(.5em - 4px);
	left: calc(var(--pixelgap) * -1 - 4px);
	content: '';
	background-color: var(--gris-75);
	border: 8px solid var(--gris-95);
	border-radius: 50%;
}

#abm_works p,
#abm_formation p {
	margin-bottom: 0;
	color: var(--gris-20);
	font-variation-settings: 'opsz' 40;
}

#abm_works dt[current]::before { background-color: var(--color-azvd) }

#abm_skills dt {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

#abm_skills dd { position: relative }

#abm_skills ul {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	gap: .5em;
	margin-bottom: 2em;
	line-height: 1.5;
	list-style: none;
}

#abm_skills li {
	padding: .25em .5em;
	background-color: var(--gris-85);
}

#about span,
#abm_interests dd {
	display: block;
	font-style: normal;
	font-variation-settings: 'opsz' 25;
	color: var(--gris-35);
}

#about span {
	font-stretch: 90%;
	font-weight: 200;
}

#abm_interests dd {
	font-stretch: 95%;
	font-weight: 300;
}

#abm_formation dt:not([graded]) { opacity: .5 }

#abm_languages dt,
#abm_languages dd {
	display: inline-block;
	float: left;
	width: 50%;
	opacity: 1;
	transition: opacity var(--animtime) var(--easing);
}

#abm_languages:hover dt,
#abm_languages:hover dd { opacity: .25 }

#abm_languages dt:hover,
#abm_languages dt:hover+dd { opacity: 1 }

@media screen and (min-width: 60rem)
{
	#about { grid-row-gap: calc(3 * var(--vertical)) }

	#abm_greeting,
	#abm_avatar,
	#abm_copy,
	#abm_meta,
	#about section {
		margin: 0 auto;
		width: 100%;
		max-width: 50rem;
	}

	#abm_works dl,
	#abm_formation dl {
		display: flex;
		flex-flow: row wrap;
	}

	#abm_skills dl::before,
	#abm_languages dl::before,
	#abm_interests dl::before {
		position: absolute;
		display: block;
		margin: auto;
		width: 1px;
		height: 100%;
		top: 0;
		bottom: 0;
		left: -24px;
		content: '';
		background-color: var(--gris-95);
	}

	#abm_works dt,
	#abm_formation dt { flex: calc(33.3333% - var(--pixelgap) / 2) }

	#abm_skills dt,
	#abm_skills dd,
	#abm_interests dt,
	#abm_interests dd {
		display: inline-block;
		float: left;
	}

	#abm_works dd,
	#abm_formation dd { flex: 0 0 calc(66.6666% + var(--pixelgap) / 2) }

	#abm_skills dd,
	#abm_languages dd,
	#abm_interests dd { width: 66.6666% }

	#abm_works dt,
	#abm_formation dt,
	#abm_skills dt,
	#abm_languages dt,
	#abm_interests dt { padding-right: calc(var(--gap) * 2) }

	#abm_skills dt,
	#abm_languages dt,
	#abm_interests dt { width: 33.3333% }

	#abm_works dt+dd,
	#abm_formation dt+dd,
	#abm_interests dt+dd { margin-bottom: 2em }

	#abm_works dd:last-child,
	#abm_formation dd:last-child,
	#abm_interests dd:last-child { margin-bottom: 0 }

	#abm_works dt span,
	#abm_formation dt span { margin-bottom: 1em }
	
	#abm_skills dl::after,
	#abm_languages dl::after,
	#abm_interests dl::after {
		display: table;
		width: 100%;
		height: 0;
		content: '';
		clear: both;
	}
}

@media screen and (min-width: 80rem)
{
	#about {
		grid-template-columns: 25% calc(16.6666% + var(--pixelgap) / 2) 1fr;
		grid-gap: 0 calc(2 * var(--gap));
		margin: 0 auto;
		max-width: 75rem;
	}

	#abm_greeting,
	#abm_copy {
		grid-column: 3/4;
		margin: 0;
		text-align: left;
	}

	#abm_greeting { grid-row: 1/2 }

	#abm_copy {
		grid-row: 2/3;
		margin-top: calc(var(--vertical) / 2);
	}

	#abm_avatar {
		grid-column: 2/3;
		grid-row: 1/span 2;
	}

	#abm_meta,
	#about section {
		margin: 0;
		max-width: unset;
	}

	#abm_meta {
		grid-column: 1/2;
		grid-row: 1/span 9999;
		height: 100%;
	}

	#abm_metalist {
		position: sticky;
		top: calc(2 * var(--pixelgap));
	}

	#about section {
		grid-column: 2/span 2;
		margin-top: calc(2 * var(--vertical));
	}
}

.barGraph {
	width: 100%;
	height: 1em;
}

.barGraphBg { fill: var(--gris-85) }
.barGraphValue { fill: var(--gris-30) }

/*
	@@ Debug
*/

.grid {
	background-image: repeating-linear-gradient(to bottom, transparent 0px, transparent calc(1em - 1px), rgba(0,0,255,.1) calc(1em - 1px), rgba(0,0,255,.1) 1em),
		repeating-linear-gradient(to bottom, transparent 0px, transparent calc(2em - 1px), rgba(255,0,0,.125) calc(2em - 1px), rgba(255,0,0,.125) 2em);
}

/*
	@@ Fuentes
*/

@font-face {
	font-family: 'BricolageGrotesque';
	src: url('fonts/BricolageGrotesque\[opsz\,wdth\,wght\].woff2') format("woff2-variations");
	font-weight: 200 800;
	font-stretch: 75% 100%;
	font-style: normal;
}

@keyframes loadingAnim
{
	0% { stroke-dashoffset: 160 }
|	50% { stroke-dashoffset: 100 }
|	100% { stroke-dashoffset: 160 }
}

@keyframes abrir_transition_t
{
	0% { clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%) }
	100% { clip-path: polygon(0 0, 100% 0, 100% 0, 0 0) }
}

@keyframes abrir_transition_b
{
	0% { clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%) }
	100% { clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%) }
}

@keyframes cerrar_transition_t
{
	0% { clip-path: polygon(0 0, 100% 0, 100% 0, 0 0) }
	100% { clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%) }
}

@keyframes cerrar_transition_b
{
	0% { clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%) }
	100% { clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%) }
}
